# Ignore node_modules folders
node_modules/

# Ignore any logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files
.env

# Ignore OS specific files
.DS_Store # For macOS
Thumbs.db # For Windows

# Ignore build folders (optional)
dist/
build/
